<div class="filters">
  <mat-form-field>
    <mat-label>Sort</mat-label>
    <mat-select
    panelClass="sort-select"
    [(ngModel)]="sort"  
     
    >
    <mat-option value="name">Name</mat-option>
    <mat-option value="-released">Released</mat-option>
    <mat-option value="-added">Added</mat-option>
    <mat-option value="-created">Created</mat-option>
    <mat-option value="-updated">Updated</mat-option>
    <mat-option value="-rating">Rating</mat-option>
    <mat-option value="Metacritic">Name</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="games">
  <div class="game">
  <div class="game-thumb-container">
    <img class="game-thumbnail" src="https://www.modernbeauty.com/components/com_mijoshop/opencart/image/cache/catalog/MARIANNA/Body-Spa-Massage-Oil-Gallon-EBO-MAR-BMOGA-500x500.jpg" alt="thumbnail" />
  </div>    
  <div class="game-description">
    <p class="game-name">Name</p>
    <div class="game-platforms">
      <img class="game-platform" src="https://www.modernbeauty.com/components/com_mijoshop/opencart/image/cache/data/DANNYCO/BCL-Spa-Pink-Grapefruit-Massage-Cream-EBO-DAN-SPGMC16-500x500.jpg" alt="slug">
    </div>
  </div>
  </div>
</div>

